.variable-name {
  font-style: italic;
}

.color-info-rect {
  stroke-width: 1;
  stroke: #4C535D;
}

#app-container .invisible-button {
  width: 100%;
  background: transparent;
  text-align: left;
  line-height: unset;
  font-weight: unset;
  padding: unset;
  margin: unset;
}

#app-container .invisible-button:hover {
  color: #2F88E2;
}

#app-container .theme-line-card {
  box-shadow: unset;
  width: 100%;
  background-color: #EEEEEE;
  padding: 5px;
}

#app-container .theme-line-card .theme-line-title {
  color: #2F88E2;
}

.theme-line-value-input {
  width: 100%;
}

#app-container .ui.input > input {
  padding: 5px 10px;
}

.theme-line-radio-button {
  padding-right: 15px;
}

#app-container .theme-line-save-button {
  color: #ffffff;
  background-color: #2F88E2;
  padding: 5px 15px;
}

#app-container .theme-line-form-row {
  padding: 5px 0px;
}